.home-section {
    padding: 10px;
    gap: 0px;
    background-color: #f9ffff;
}

/* Optional enhancements */
@media (max-width: 768px) {
    .home-section {
        padding: 16px;
        gap: 24px;
    }
}